/* https://github.com/Nazeh/grid-framework-behance-clone

This is for styling the UI elements of Behance.net clone
*/
$site-nav-color: #191919;
$behance-blue: #0057ff;
$behance-blue-hover: #0048d8;
$facebook-blue: #3b5998;
$facebook-blue-hover: #263963;


a {
    cursor: pointer;
    text-decoration: none;
}

body {
    font-family: 'Acumin Pro Bold';
}

@mixin color-fill($color) {
    fill: $color;
    color: $color;
}

nav {
    height: 60px;
    font-size: 15px;

    a{
        display: flex;
        align-items: center;
    }

    &.site-nav {
        background-color: $site-nav-color;

        a {
            @include color-fill(white)
        }
        a:hover{
            @include color-fill(white)
        }

        svg {
            height: 16px;
        }

        .hide-sm {
            display: none;
        }
        .blue-btn{
            background-color: $behance-blue;
            height: 32px;
            border-radius: 16px;
            font-size: 14px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
            transition: .3s ;
            &:hover{
                background-color: $behance-blue-hover;
            }
        }
        
        .icon{
            height: 32px;
            width: 12px;
            justify-content: center;
            border-radius: 16px;
        }

        .facebook-icon{
            background-color: $facebook-blue;
            margin-right: 10px;
        }
        
        .facebook-icon:hover{
            background-color: $facebook-blue-hover;
        }
        .google-icon{
            background-color: white;
        }
    }

    &.main-nav {
        box-shadow: 0 0 4px rgba(0, 0, 0, .1);

        a{
            color: $behance-blue;
        }

        a:hover{
            @include color-fill(black)
        }

        .hScroll{
            width: 600px;
            height: 300px;
            overflow-y: auto;
            overflow-x:hidden;
            transform: rotate(-90deg);
            transform-origin: right top;
            transform: rotate(-90deg) translateY(-100px);
            a{
                width: 600px;
                height: 100px; 
                transform: rotate(90deg);
                transform-origin: right top;
            }
        }
    }


}


@mixin showcase-height($showcase-height) {
    height: $showcase-height;
    font-size: $showcase-height/3;
}

.showcase {
    @include showcase-height(100px);

    color: white;
    background-image: url("https://a5.behance.net/34469dc70cc9112a2e59c09efe8fe570cc65b3d6/img/site/1x/cta-header.jpg");
    background-size: cover;
    background-position: 50%;

    & h1 {
        text-align: center;
        letter-spacing: -0.11rem;
    }

}

@media (min-width: 600px) {
    .showcase {
        @include showcase-height(160px);
    }
}

@media (min-width: 1024px) {
    nav {
        &.site-nav {
            a,span{
                @include color-fill(#a4a4a4)
            }

            span{
                margin-top: 10px;
                font-size: 12px;
            }

            .white{
                @include color-fill(white)
            }

            .hide-lg{
                display: none;
            }

            .hide-sm {
                display: flex;
            }
        }

    }

    .showcase {
        @include showcase-height(210px);
    }
}

.gallery {
    padding-top: 50px;
    padding-bottom: 50px;
}

.card {
    div {
        border-radius: 5px;
        overflow: hidden;
        background-color: #838383;

        a {
            position: relative;
            display: block;
            width: 100%;
            padding-top: 78%;

            img {
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
            }
        }
    }
}


